
<div class="d-flex justify-content-center">
    <div style="width : 50%" class ="box border">
    <form class="border border-light p-5" (ngSubmit)="onSubmit()">
    
        <p class="h4 mb-4 text-center">Add Software Setup</p>
    
                <input type="text" id="constantName" name="constantName" class="form-control mb-3" placeholder="Constant Name" [(ngModel)]="softwareSetup.constantName">
    
                <input type="text" id="constantValue" name="constantValue" class="form-control mb-3" placeholder="Constant Value" [(ngModel)]="softwareSetup.constantValue">
    
                <input type="text" id="comments" name="comments" class="form-control mb-3" placeholder="Comments" [(ngModel)]="softwareSetup.comments">
                        
       <div class="d-flex justify-content-center">
              <button class="btn btn-info btn-block" type="submit">Create Setup</button>
       </div>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="isSuccess">
           Software Setup details has been added successfully...
    </div>
    </div>
    </div>
    
    
    