
<div class="d-flex justify-content-center">
    <div style="width : 50%" class ="box border">
      <div class="alert alert-success" role="alert" *ngIf="isSuccess">
        New RPAN has been added successfully...
 </div>
    <form class="border border-light p-5" (ngSubmit)="onSubmit()">
    
        <p class="h4 mb-4 text-center">Create RPAN</p>
        Requisition Category Our Code
        <input type="text" id="requisitionCategoryOurCOde" name="requisitionCategoryOurCOde" class="form-control mb-3" placeholder="Sl no" [(ngModel)]="noteSlip.requisitionCategoryOurCode" readonly>
        <div class="form-group ">
            <label for="sel1">Transaction Category </label>
            <div *ngIf="isTransactionCategory">
              <select class="form-control form-select" id="transCategory" name="transCategory" [(ngModel)]="noteSlip.transactionCategory" >
                <option value="Actual" >Actual</option>
                <option value="Adjust">Adjust</option>
              </select>
        </div>
        <div *ngIf="!isTransactionCategory">
          <input type="text" [(ngModel)] ="noteSlip.transactionCategory" class="form-control mb-3" value="Actual" id="transCategory" name="transCategory" readonly/>
        </div>
          </div>
          Requisition Category
          <input type="text" id="requisitionCategory" name="requisitionCategory"  class="form-control mb-3" placeholder="requisitionCategory" [(ngModel)]="noteSlip.requisitionCategory" readonly>    
          Note Slip Date
          <input type="date" id="noteSlipDate" name="noteSlipDate" class="form-control mb-3" placeholder="noteSlipDate" [(ngModel)]="noteSlip.noteSlipDate">
          <div class="form-group ">
              <label for="sel1">Shift </label>
              <select class="form-control form-select" id="noteSlipShift" name="noteSlipShift" [(ngModel)]="noteSlip.noteSlipShift" >
                <option value="Shift 1" >Shift 1</option>
                <option value="Shift 2">Shift 2</option>
                <option value="Shift 3">Shift 3</option>
              </select>
            </div>
            
          <div class="form-group ">
            <label for="userId">Incharge : </label>
            <select class="form-control form-select" id="inchargeEmployeeId" name="inchargeEmployeeId" [(ngModel)]="noteSlip.inchargeEmployeeId" >
                <option *ngFor="let employee of employees" [value]="employee.employeeId">
                    {{employee.employeeOurCode}} - {{employee.employeeName}}
                  </option>
            </select>
          </div>
          <div class="form-group ">
            <label for="userId">Operator : </label>
            <select class="form-control form-select" id="operatorEmployeeId" name="operatorEmployeeId" [(ngModel)]="noteSlip.operatorEmployeeId" >
                <option *ngFor="let employee of employees" [value]="employee.employeeId">
                    {{employee.employeeOurCode}} - {{employee.employeeName}}
                  </option>
            </select>
          </div>
       
          <div class="form-group ">
            <label for="userId">Part Item : 
              <div style="background-color: greenyellow;">{{partItemText}}</div>
            </label>
         <!--   <select class="form-control form-select" id="partItemId" name="partItemId" [(ngModel)]="noteSlip.partItemId" >
                <option *ngFor="let partItem of partItems" [value]="partItem.itemId">
                    {{partItem.itemOurCode}} - {{partItem.itemName}}
                  </option>
            </select>-->
            <input list="partItems"  class="form-control" name="partItemId" id="partItemId" [(ngModel)]="noteSlip.partItemId" (change)="getIssueToVendorArr(); displayPartItem();">
              <datalist id="partItems">
                <option *ngFor="let partItem of partItems" [value]="partItem.itemId" >
                  {{partItem.itemNameId}} - {{partItem.itemNumber}} - {{partItem.itemName}}
                </option>
              </datalist>
          </div>
          <div class="form-group ">
            <label for="sel1">Receipt From 
              <div style="background-color: greenyellow;">{{receiptFromVendorText}}</div>
            </label>
         <!--   <select class="form-control form-select" id="receiptFromVendorId" (change) = "getIssueToVendorArr()" name="receiptFromVendorId" [(ngModel)]="noteSlip.receiptFromVendorId" >
                <option *ngFor="let receiptFromVendor of receiptFromVendors" [value]="receiptFromVendor.vendorId">
                    {{receiptFromVendor.vendorOurCode}} - {{receiptFromVendor.vendorName}}
                  </option>
            </select>-->
            <input list="receiptFromVendors" class="form-control" name="receiptFromVendorId" id="receiptFromVendorId" [(ngModel)]="noteSlip.receiptFromVendorId" (change) = "getIssueToVendorArr();displayReceiptFromVendor()">
              <datalist id="receiptFromVendors">
                <option *ngFor="let receiptFromVendor of receiptFromVendors" [value]="receiptFromVendor.vendorId" >
                  {{receiptFromVendor.vendorNameId}} - {{receiptFromVendor.vendorName}}
                </option>
              </datalist>
          </div>
        Receipt Date   <input type="date" id="receiptDate" name="receiptDate" class="form-control mb-3" placeholder="Receipt Date" [(ngModel)]="noteSlip.receiptDate">
        <div class="form-group ">
            <label for="sel1">Production Category </label>
            <select class="form-control form-select" id="productionCategory" name="productionCategory" [(ngModel)]="noteSlip.productionCategory" (change)="getIssueToVendorArr();">
              <option value="Regular" >Regular</option>
              <option value="Conversion">Conversion</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="sel1">Part Stage </label>
            <select class="form-control form-select" id="partStage" name="partStage" (change) = "getIssueToVendorArr(); assignRequistionGroupCategory();" [(ngModel)]="noteSlip.partStage" >
              <option value="FP" >FP</option>
              <option value="SFP">SFP</option>
            </select>
          </div>
          Part Stage No
        <input type="text" id="partStageNumber" name="partStageNumber" class="form-control mb-3" placeholder="Part Stage Number" [(ngModel)]="noteSlip.partStageNumber">
        <div class="form-group " *ngIf="verifyShopFloorData()">
            <label for="sel1">From ShopFloor </label>
            <select class="form-control form-select" id="fromShopfloor" name="fromShopfloor" [(ngModel)]="noteSlip.fromShopfloor" >
              <option [ngValue]=false >No</option>
              <option [ngValue]=true>Yes</option>
            </select>
          </div>
          <div class="form-group " *ngIf="noteSlip.fromShopfloor == true && verifyShopFloorData()">
            <label for="sel1">RP SFP </label>
            <select class="form-control form-select" id="rpSfp" name="rpSfp" [(ngModel)]="noteSlip.rpSfp" >
              <option [ngValue]=false >No</option>
              <option [ngValue]=true>Yes</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="sel1">To Stock</label>
            <select class="form-control form-select" id="toStock" name="toStock" [(ngModel)]="noteSlip.toStock" >
              <option [ngValue]=false>No</option>
              <option [ngValue]=true>Yes</option>
            </select>
          </div>
          <div class="form-group " *ngIf="noteSlip.toStock == false">
            <label for="sel1">Requisition Group Category</label>
            <select class="form-control form-select" id="requisitionGroupCategory" name="requisitionGroupCategory" [(ngModel)]="noteSlip.requisitionGroupCategory" >
              <option value="Invoice" >Invoice</option>
              <option value="DC">DC</option>
            </select>
          </div>
        <div *ngIf="noteSlip.toStock == false">
          Requisition Group No
          <input type="text" id="requisitionGroupNo" name="requisitionGroupNo"  class="form-control mb-3" placeholder="Requisition Group No" [(ngModel)]="noteSlip.requisitionGroupNo">
        </div>
        <div>

        </div>
        <div class="form-group ">
          
            <div *ngIf="noteSlip.toStock == false"> Issue to Vednor
            </div>
            <div *ngIf="noteSlip.toStock == true">
              <span class="text-warning">Select Next Stage Vendor</span>
            </div>
            <div style="background-color: greenyellow;">{{issueToVendorText}}</div>
          
      <!--    <select class="form-control form-select" id="issueToVendorId" name="issueToVendorId" [(ngModel)]="noteSlip.issueToVendorId" >
              <option *ngFor="let issueToVendor of issueToVendors" [value]="issueToVendor.vendorId">
                  {{issueToVendor.vendorOurCode}} - {{issueToVendor.vendorName}}
                </option>
          </select>-->
          <input list="issueToVendors" class="form-control" name="issueToVendorId" id="issueToVendorId" [(ngModel)]="noteSlip.issueToVendorId" (change)="selectIssueCategory();displayIssueToVendor();" >
            <datalist id="issueToVendors">
              <option *ngFor="let issueToVendor of issueToVendors" [value]="issueToVendor.vendorId" >
                {{issueToVendor.vendorNameId}} - {{issueToVendor.vendorName}}
              </option>
            </datalist>
        </div>
          <div class="form-group " *ngIf="noteSlip.toStock == false">
            <label for="sel1">Issue Category</label>
            <input type="text" class="form-control form-select" id="issueCategory" name="issueCategory" [(ngModel)]="noteSlip.issueCategory" readonly/>
             
            
          </div>
           
          
        <div class="form-group " *ngIf="noteSlip.issueCategory == 'Conversion'">
            <label for="sel1">Return Part No
              <div style="background-color: greenyellow;">{{returnPartItemText}}</div>
            </label>
      
            <input list="returnPartItems" class="form-control" name="returnPartItemId" (change)="displayReturnPart()" id="returnPartItemId" [(ngModel)]="noteSlip.returnPartItemId">
              <datalist id="returnPartItems">
                <option *ngFor="let returnPartItem of returnPartItems" [value]="returnPartItem.itemId" >
                  {{returnPartItem.itemNameId}} - {{returnPartItem.itemNumber}} - {{returnPartItem.itemName}}
                </option>
              </datalist>
          </div>
          Wt Mc Avg 1 Gms
          <input type="number" id="wtMcAverage1Gms" name="wtMcAverage1Gms" class="form-control mb-3" placeholder="Wt Mc Average 1 Gms" [(ngModel)]="noteSlip.wtMcAverage1Gms">
          Wt Mc Avg 2 Gms
          <input type="number" id="wtMcAverage2Gms" name="wtMcAverage2Gms" class="form-control mb-3" placeholder="Wt Mc Average 2 Gms" [(ngModel)]="noteSlip.wtMcAverage2Gms">
          Unit in Gms
          <input type="number" id="unitWtGms" name="unitWtGms" class="form-control mb-3" placeholder="Unit Weight in Gms" [(ngModel)]="noteSlip.unitWtGms">
          <div id="actual" *ngIf="noteSlip.transactionCategory == 'Actual'">
            Okay Nos
          <input type="number" id="okayNos" name="okayNos" class="form-control mb-3" placeholder="Okay Nos" [(ngModel)]="noteSlip.okayNos" >
          Okay Wt
          <input type="number" id="okayWt" name="okayWt" class="form-control mb-3" placeholder="Okay WT" [(ngModel)]="noteSlip.okayWt">
        </div>
        <div id="adjust" *ngIf="noteSlip.transactionCategory == 'Adjust'">
          Adjust No
          <input type="number" id="adjustNos" name="adjustNos" class="form-control mb-3" placeholder="Adjust Nos" [(ngModel)]="noteSlip.adjustNos">
         Adjust Wt
          <input type="number" id="adjustWt" name="adjustWt" class="form-control mb-3" placeholder="Adjust WT" [(ngModel)]="noteSlip.adjustWt">
        </div>
          <div>
          Stock Nos
          <input type="number" id="stockNos" name="stockNos" class="form-control mb-3" placeholder="Stock Nos" [(ngModel)]="noteSlip.stockNos" readonly>
         Stock Wt
          <input type="number" id="stockWt" name="stockWt" class="form-control mb-3" placeholder="Stock WT" [(ngModel)]="noteSlip.stockWt" readonly>
        </div>
          Openign Nos
          <input type="number" id="openingNos" name="openingNos" class="form-control mb-3" placeholder="Opening Nos" [(ngModel)]="noteSlip.openingNos" readonly>
          Opening Wt
          <input type="number" id="openingWt" name="openingWt" class="form-control mb-3" placeholder="Opening Wt" [(ngModel)]="noteSlip.openingWt" readonly>
        
          
        <div id="adjust" *ngIf="noteSlip.transactionCategory == 'Adjust'">
          Adjust No
          <input type="number" id="adjustNos" name="adjustNos" class="form-control mb-3" placeholder="Adjust Nos" [(ngModel)]="noteSlip.adjustNos">
         Adjust Wt
          <input type="number" id="adjustWt" name="adjustWt" class="form-control mb-3" placeholder="Adjust WT" [(ngModel)]="noteSlip.adjustWt">
        </div>
        Mimatch Nos
          <input type="number" id="mismatchNos" name="mismatchNos" class="form-control mb-3" placeholder="Mismatch Nos" [(ngModel)]="noteSlip.mismatchNos" readonly>
          Mismatch Wt
          <input type="number" id="mismatchWt" name="mismatchWt" class="form-control mb-3" placeholder="Mismatch Wt" [(ngModel)]="noteSlip.mismatchWt" readonly>
          Taken Nos
          <input type="number" id="takenNos" name="takenNos" class="form-control mb-3" placeholder="Taken Nos" [(ngModel)]="noteSlip.takenNos" readonly>
         Taken Wt
          <input type="number" id="takenWt" name="takenWt" class="form-control mb-3" placeholder="Taken WT" [(ngModel)]="noteSlip.takenWt" readonly>
          Direct Taken Nos
          <input type="number" id="directTakenNos" name="directTakenNos" class="form-control mb-3" placeholder="Direct Taken Nos" [(ngModel)]="noteSlip.directTakenNos" readonly>
         Direct Taken Wt
          <input type="number" id="directTakenWt" name="directTakenWt" class="form-control mb-3" placeholder="Direct Taken WT" [(ngModel)]="noteSlip.directTakenWt" readonly>
         Pending Taken Nos
          <input type="number" id="pendingTakenNos" name="pendingTakenNos" class="form-control mb-3" placeholder="Pending Taken Nos" [(ngModel)]="noteSlip.pendingTakenNos" readonly>
         Pending Taken Wt
          <input type="number" id="pendingTakenWt" name="pendingTakenWt" class="form-control mb-3" placeholder="Pending Taken WT" [(ngModel)]="noteSlip.pendingTakenWt" readonly>
         Bin Location
          <input type="text" id="binLocation" name="binLocation" class="form-control mb-3" placeholder="Bin Locations" [(ngModel)]="noteSlip.binLocation">
          Remarks
           <input type="text" id="remarks" name="remarks" class="form-control mb-3" placeholder="Remarks" [(ngModel)]="noteSlip.remarks">
    <!--      <div class="form-group ">
            <label for="sel1">Verified </label>
            <select class="form-control form-select" id="isVerified" name="isVerified" [(ngModel)]="noteSlip.verified" >
              <option value="false" >No</option>
              <option value="true">Yes</option>
            </select>
          </div>-->
          <div class="d-flex justify-content-center">
            <button class="btn btn-info btn-block" type="submit" *ngIf="isSubmitEnabled" >Add RPAN</button>
     </div>
  </form>
  
  </div>
  </div>