<br>
<br><br>
<div class="d-flex justify-content-center">
    <div style="width : 50%" class ="box border">
    <form class="border border-light p-5" (ngSubmit)="onSubmit()" id="chgform">
    
        <p class="h4 mb-4 text-center">Change Password</p>
    
                <input type="text" id="userId" name="userId" class="form-control mb-3" placeholder="User ID" [(ngModel)]="userId" readonly>
    
                <input type="text" id="oldPswd" name="oldPswd" class="form-control mb-3" placeholder="Old Password" [(ngModel)]="oldPswd">
                <input type="password" id="newPswd" name="newPswd" class="form-control mb-3" placeholder="New Password" [(ngModel)]="newPswd">
                <input type="password" id="cfnPswd" name="cfnPswd" class="form-control mb-3" placeholder="Confirm Password" [(ngModel)]="cfnPswd">
          
       <div class="d-flex justify-content-center">
              <button class="btn btn-info btn-block" type="submit">Reset Password</button>
       </div>
    </form>
    <div class="alert alert-success" role="alert" *ngIf="isSuccess">
           New Password has been Updated successfully...
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isFailure">
       {{ message }}
    </div>
    </div>
    </div>